C 0 0 "GND_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GNDTX" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GNDTX" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VCCTX" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VCCTX" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "N.C._1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "N.C._1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "N.C._2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "N.C._2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SDA/GPIO1/PWM1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SDA/GPIO1/PWM1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SCL/GPIO0/PWM0" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SCL/GPIO0/PWM0" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "ED/PWM0" 0 -700 0 0 60 0 L
X "PIN_TEXT" "ED/PWM0" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 1700 0 "VCC" 1700 0 0 0 60 0 R
X "PIN_TEXT" "VCC" 1470 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 0 1700 0 -1 0
C 1700 -100 "HPD" 1700 -100 0 0 60 0 R
X "PIN_TEXT" "HPD" 1470 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -100 1700 -100 -1 0
C 1700 -200 "GND_2" 1700 -200 0 0 60 0 R
X "PIN_TEXT" "GND_2" 1470 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -200 1700 -200 -1 0
C 1700 -300 "VOUT" 1700 -300 0 0 60 0 R
X "PIN_TEXT" "VOUT" 1470 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -300 1700 -300 -1 0
C 1700 -400 "LBTX" 1700 -400 0 0 60 0 R
X "PIN_TEXT" "LBTX" 1470 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -400 1700 -400 -1 0
C 1700 -500 "LB" 1700 -500 0 0 60 0 R
X "PIN_TEXT" "LB" 1470 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -500 1700 -500 -1 0
C 1700 -600 "LA" 1700 -600 0 0 60 0 R
X "PIN_TEXT" "LA" 1470 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -600 1700 -600 -1 0
C 1700 -700 "LATX" 1700 -700 0 0 60 0 R
X "PIN_TEXT" "LATX" 1470 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -700 1700 -700 -1 0
L 200 100 1500 100 -1 0
L 1500 -800 1500 100 -1 0
L 1500 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 1550 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

