C 0 0 "VCC" 0 0 0 0 60 0 L
X "PIN_TEXT" "VCC" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CSN/SA0" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CSN/SA0" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "GND" 0 -200 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "INT/SAMPLE" 0 -300 0 0 60 0 L
X "PIN_TEXT" "INT/SAMPLE" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "NC_1" 0 -400 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 800 -1200 "EP_(GND)" 800 -1200 0 0 60 0 L
X "PIN_TEXT" "EP_(GND)" 830 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1000 800 -1200 -1 0
C 1600 0 "NC_2" 1600 0 0 0 60 0 R
X "PIN_TEXT" "NC_2" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
C 1600 -100 "VCC_IO" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "VCC_IO" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 -200 "SCLK/SCL" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "SCLK/SCL" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -300 "MOSI/SDA" 1600 -300 0 0 60 0 R
X "PIN_TEXT" "MOSI/SDA" 1370 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -300 1600 -300 -1 0
C 1600 -400 "MISO/SA1" 1600 -400 0 0 60 0 R
X "PIN_TEXT" "MISO/SA1" 1370 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -400 1600 -400 -1 0
L 200 100 1400 100 -1 0
L 1400 -1000 1400 100 -1 0
L 1400 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1450 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

